@page
@model IT_WEB_22_61_0038.Pages.CourseInfoModel
@{
    ViewData["Title"] = "CourseInfo";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p style="color:darkblue; font-weight:bolder;">This Page is Showing about Course Information</p>
            <hr style="color:red; height:3px"/>
        </div>
    </div>
</div>
