@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hi...... You are warmly Welcome</h1>
    
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 text">
            <h3>FINAL PROJECT</h3>
            <hr style="color:red; height:3px" />
            <p>Name - Patabandi Koralalage Ravindu Theja Rupasinghe</p>
            <p>Registration Number - IT/WEB/22/61/0038</p>
            <br />
            <br />
            <br />
            <h5 style="color:lightseagreen">Special Thanks to our Lecturer Mr.Roshan Jayathunga</h5>

        </div>
    </div>
</div>
