@page
@model IT_WEB_22_61_0038.Pages.Student_InfoModel
@{
    ViewData["Title"] = "Student Info";
}
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
            <p style="color:darkblue; font-weight:bolder;">This Page is Showing about Student Information</p>
            <hr style="color:red; height:3px" />
          </div>
      </div>
  </div>
